<div class="container" ng-if="userCtrl.user !== undefined">
    <div class="container">
        <h3>User info:</h3>
        <span>First name: {{ userCtrl.user.firstname }}</span><br/>
        <span>Last name:  {{ userCtrl.user.lastname }}</span><br/>
        <span>Email:      {{ userCtrl.user.email }}</span><br/>
        <span ng-if="userCtrl.user.phone">Phone:      {{ userCtrl.user.phone }}</span><br/>
        <span ng-if="userCtrl.user.favorite">Favorite dish: </span><br/>
    </div>
    <menu-item menu-item="userCtrl.user.favorite" ng-if="userCtrl.user.favorite">
    </menu-item>
</div>
<div class="container" ng-if="userCtrl.user === undefined">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    Code of the solution: <br>
    <a class="solution_href"
       href="https://github.com/vbasakov/coursera-angular-course-tasks/tree/master/assignments/assignment5">
        https://github.com/vbasakov/coursera-angular-course-tasks/tree/master/assignments/assignment5
    </a>
</div>
