<html lang="ru">
<head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>json</title></head>
<body ng-app="angModule">


    <div ng-controller="TableController as ctrl">
        <input type="text" ng-model="ctrl.prop1"/>
        <input type="text" ng-model="ctrl.prop2"/>
        <input type="text" ng-model="ctrl.prop3"/><br/>
        {{ ctrl.prop1 }} <br/>
        {{ ctrl.prop2 }} <br/>
        {{ ctrl.prop3 }} <br/>
        <dir1 prop1="ctrl.prop1"  prop2="{{ ctrl.prop2 }}" prop3="ctrl.prop3"/>
    </div>

</body>
</html>
