<html lang="ru">
<head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>ng-repeat</title></head>
<body ng-app="angModule">

    <div ng-controller="someController1">
        <H1>String calc</H1>
        <div>
            Some string:
            <input type="text" ng-model="name" ng-keyup="showResult();">
        </div>
        {{test}}
        <div>
            Total: {{total}}
        </div>
    </div>
    <div ng-controller="tableController">
        <H1>Table</H1>
        <table border="1px">
            <tr ng-repeat-start="item in data">
                <td ng-click="nameClick(item);">{{item.name}}</td>
                <td></td>
                <td>{{item.value}}</td>
            </tr>
            <tr ng-repeat-end ng-if="item.children && item.exposed" ng-repeat="child in item.children">
                <td></td>
                <td>{{child.name}}</td>
                <td>{{child.value}}</td>
            </tr>
        </table>
    </div>
</body>
</html>