<html lang="ru">
<head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>ng-repeat</title></head>
<body ng-app="angModule">

    <div ng-controller="someController1">
        <H1>String calc</H1>
        <div>
            Some string:
            <input type="text" ng-model="name" ng-keyup="showResult();">
        </div>
        {{test}}
        <div>
            Total: {{total}}
        </div>
    </div>
    <div ng-controller="tableController">
        <H1>Table</H1>
        <table>
            <tr ng-repeat="item in data">
                <td>{{item.name}}</td>
                <td>{{item.value}}</td>
            </tr>
        </table>
    </div>
</body>
</html>